{
  "Get-AzAksArcVMSku+[NoContext]+Get+$GET+https://management.azure.com//subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default?api-version=2024-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default?api-version=2024-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"c00062e2-0000-1a00-0000-68a6ae900000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/edgeci-registration-hc1n25r0210-niyuqk2a/providers/microsoft.extendedlocation/customlocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default\",\"name\":\"default\",\"type\":\"microsoft.hybridcontainerservice/skus\",\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2025-08-20T15:43:01.2933277Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-08-21T05:28:48.5842717Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"values\":[{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"8\"},{\"name\":\"MemoryGB\",\"value\":\"16\"}],\"name\":\"Standard_NC8_A16\",\"size\":\"NC8\",\"tier\":\"GPU\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"4\"},{\"name\":\"MemoryGB\",\"value\":\"16\"}],\"name\":\"Standard_D4s_v3\",\"size\":\"D4s\",\"tier\":\"Standard\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"16\"},{\"name\":\"MemoryGB\",\"value\":\"64\"}],\"name\":\"Standard_NC16_A16\",\"size\":\"NC16\",\"tier\":\"GPU\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\[...]
