{
  "Get-AzAksArcKubernetesVersion+[NoContext]+List+$GET+https://management.azure.com//subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/kubernetesVersions/default?api-version=2024-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/kubernetesVersions/default?api-version=2024-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"eb0118be-0000-1a00-0000-68a6aa800000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourceGroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/microsoft.extendedlocation/customlocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/kubernetesVersions/default\",\"name\":\"default\",\"type\":\"microsoft.hybridcontainerservice/kubernetesversions\",\"extendedLocation\":{\"name\":\"/subscriptions/304d8fdf-1c02-4907-9c3a-ddbd677199cd/resourcegroups/EDGECI-REGISTRATION-HC1n25r0210-nIYuQK2A/providers/microsoft.extendedlocation/customlocations/s-cluster-customlocation\",\"type\":\"CustomLocation\"},\"systemData\":{\"createdBy\":\"af1c6d67-5a2a-49d8-ab92-5dc4a97051d6\",\"createdByType\":\"Application\",\"createdAt\":\"2025-08-20T15:44:23.9787846Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-08-21T05:11:28.3471339Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"values\":[{\"version\":\"1.30\",\"isPreview\":false,\"patchVersions\":{\"1.30.9\":{\"readiness\":[{\"osType\":\"Linux\",\"osSku\":\"CBLMariner\",\"ready\":true},{\"osType\":\"Windows\",\"osSku\":\"Windows2019\",\"ready\":true},{\"osType\":\"Windows\",\"osSku\":\"Windows2022\",\"ready\":true}],\"upgrades\":[\"1.31.4\",\"1.31.5\"]},\"1.30.8\":{\"readiness\":[{\"osType\":\"Linux\",\"osSku\":\"CBLMariner\",\"ready\":true},{\"osType\":\"Windows\",\"osSku\":\"Windows2019\",\"ready\":true},{\"osType\":\"Windows\",\"osSku\":\"Windows2022\",\"ready\":true}],\"upgrades\":[\"1.30.9\",\"1.31.4\",\"1.31.5\"]}}},{\"version\":\"1.31\",\"isPreview\":false,\"patchVersions\":{\"1.31.4\":{\"readiness\":[{\"osType\":\"Linux\",\"osSku\":\"CBLMariner\",\"ready\":true},{\"osType\":\"Windows\",\"osSku\":\"Windows2019\",[...]
